<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Student</h1>
    <div class="student">
      <h3>Name: <%= @student.name%></h3>
      <h3>Grade: <%= @student.grade%></h3>
    </div><br>
    <h1>Courses</h1>
    <%@courses.each do |c|%>
    <div class="course">
      <p>Name: <%= c.name%></p>
      <p>Topic: <%= c.topic%></p>
    </div><br>
    <%end%>
  </body>
</html>
